  {% extends 'archivi/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container border" >
    <div class="form-row" style="font-size:14px;">
      <div class="col-sm-8 offset-2 ">  
           <br>
            <h5>
              Settore Urbanistica e S.U.E. / Demanio
            </h5>
            <h5>
              <small>Dirigente : <a href="mailto:michele.bengasifiorini@comune.carrara.ms.it" target="self">Arch. Michele Bengasi Fiorini</a></small>
            </h5>
            
            
            <br>
            
              <p>
              Benvenuto,<br>
              <b>puoi effettuare ricerche indicando : dati catastali, ubicazione dell'immobile, numero dell'atto rilasciato.</b>
              <br>
              Sarà possibile, una volta individuata la pratica ricercata, creare un <b>PDF</b> con i dati necessari per la richiesta di accesso agli atti da effettuarsi tramite il <a href="https://www.carrara.cportal.it/Accesso-ai-servizi?returnurl=%2f" target="self">portale dedicato</a>.<br><br>
              Ti ricordiamo che l'attendibilità degli archivi, che coprono gli anni che vanno dal 1971 ai primi mesi del 2021, è parziale!<br><br>
              <cite>I dati presenti saranno implementati e aggiornati nel tempo anche <b>grazie alle segnalazioni che potrai fare</b> comunicandoci le probalili anomalie.</cite><br>
              Altri tipi di ricerche sono in uso <b>solo</b> al personale interno!
              </p>
   
        </div>
      </div>
      <!--
      <div class="form-row" >
        <div class="col-sm-2 offset-8 " >
              <a class="btn btn-danger btn-sm" href="mailer/">
                     segnala 
              </a>
              <br>
        </div>
      </div>
    -->
      </div>
      <p></p>
</div>
{% endblock %}
