{% extends 'archivi/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container" style="width:60%">
  <h4>Registrazione</h4>
  <form method="post">
   {% csrf_token %}
     <div class="container p-2 my-2 border" >
    
    
              <div class="form-row" >
                  <div class="form-group col-md-6 mb-0" >
                     {{ form.username | as_crispy_field }}
                  </div>
               </div>
              <div class="form-row" >
                  <div class="form-group col-md-6 mb-0" >
                     {{ form.first_name | as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                     {{ form.last_name | as_crispy_field }}
                  </div>
               </div>
               <div class="form-row" >
                  <div class="form-group col-md-6 mb-0" >
                     {{ form.email | as_crispy_field }}
                  </div>
               </div>
               <div class="form-row" >
                  <div class="form-group col-md-6 mb-0" >
                     {{ form.password1 | as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                     {{ form.password2 | as_crispy_field }}
                  </div>
               </div>
   <!--     
   {{ form | crispy }}
   --> 
    <button class="btn btn-outline-success btn-sm" type="submit">Salva</button>
  </div>
  </form>
  </div>
{% endblock %}