




<header style="margin-top: 45px;" class = "page-header" >
  <br>
 <div class="row" style="padding:5px;">

     <div class="col-sm-4">
       <a href="http://comune.carrara.ms.it" target="self">
       <img src="https://web.comune.carrara.ms.it/moduli/output_immagine.php?id=3035&larghezza=300px&qualita=75"  alt="logo del Comune di Carrara">
       </a>
     </div>
     <div class="col-sm-8" style="vertical-align:bottom; text-align: right; padding:25px">
       <h5>archivio pratiche edilizia privata e S.U.A.P.</h5>     
     </div>
 </div>
</header>
        