{% extends 'archivi/base.html' %}

    {% block content %}
<div class="container">
     <h4>Ricerca    per    atto</h4>
     <p>
         Vengono cercati tutti gli atti rilasciati (concessioni, autorizzazioni... etc) verificare nell'elenco proposto<br>
        
     </p>
     <div class="container  border" style="font-size:0.9em;">

         <form name = "TitoloForm" action = "{% url 'pratica_list_titolo' %}" 
                 method = "POST" >
                {% csrf_token %}
                <div class="row" style="padding:10px;">
                    <div class="col-sm-4">
                         <input type="text"  class="form-control" required autofocus name="atto" placeholder="numero atto... ">
                    </div>
                    <div class="col-sm-4 ">

                         <input type="submit" class="btn btn-outline-success btn-sm" name="cerca" value="cerca">  
                    </div>   
                 </div>
         </form>
     </div>
</div>
    {% endblock %}
    