{% extends 'archivi/base.html' %}

    {% block content %}
<div class="container">
     <h4>Ricerca per nominativo</h4>
      <div class="container  border" style="font-size:0.9em;">
        <form name = "nome" action = "{% url 'pratica_list_name' %}"  method = "POST" >
            {% csrf_token %}
            <div class="row" style="padding:10px;">
                <div class="col-sm-6">
                    <input type="text" class="form-control" autofocus name="richiedente" required placeholder="nominativo da cercare..."> 
                </div>
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-outline-success btn-sm" value="cerca">
                </div>
            </div>
        </form>
     </div>
</div>
    {% endblock %}
    
